<!-- eslint-disable  -->
<template>
  <!-- eslint-disable-next-line vue/max-attributes-per-line -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <router-link to="/home">
      <img src="../assets/nile.png" alt="logo" width="45" height="45">
    </router-link>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="navbar-brand" href="#"> </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"> cart </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"> account </a>
          </li>

      </ul>
      <form class="form-inline" ml-auto text-align: center>
        <input class="form-control mr-sm-2" type="search" placeholder="search" aria-label="Search">
        <button class="btn my-2 my-sm-0  btn-info" type="submit">search</button>
      </form>
    </div>
  </nav>
</template>
