<!-- eslint-disable  -->
/* eslint no-console: ["error", { allow: ["warn", "error"] }] */

<template>
  <div >
    <br><br>
    <div class="col d-flex justify-content-center">
    <div  v-for="(item, index) in items" :key="index">
      <h2 class = "text-center"> {{ item.item_name}} </h2>
      <div class="card">
      <img class="card-img-top h-100" src="../assets/nile.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">${{ item.item_price }}</h5>
        <p class="card-text"> {{ item.description }}</p>
        <p class="card-text"> Number in stock: {{ item.quantity }}</p>
         <a href="#" class="btn btn-primary text-center">add to cart</a>
      </div>
    </div>
    </div>
    </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      items: [],
    };
  },
  methods: {
    getOneItem() {
      const path = `http://localhost:5000/getitem/${this.$route.params.id}`;
      axios.get(path)
        .then((res) => {
          this.items = res.data.items;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
  },
  created() {
    this.getOneItem();
  },
};
</script>
